#editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#path {
    position: absolute;
    padding: 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px 0 0 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 17px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
}
